div(id="header-bar" class="z-depth-3")
	div(class="logo-bar")
		h1 Mr & Mrs
	div(class="navigation")
		ul
			li(class=page === "home" ? "selected" : "")
				a(href="/") Home
			li(class=page === "info" ? "selected" : "")
				a(href="/info") Information
			li(class=page === "story" ? "selected" : "")
				a(href="/story") Our Story
			li(class=page === "rsvp" ? "selected" : "")
				a(href="/rsvp") RSVP
			li(class=page === "registry" ? "selected" : "")
				a(href="/registry") Gift Registry
			if currentUser.isAdmin
				li(class=page === "admin" ? "selected" : "")
					a(href="/admin") Admin &nbsp
					i(class="material-icons light-text") open_in_new
			li
				a(href="/logout") Logout